.links{

}

ul{
    display: flex;
    justify-content: space-between;
    display-style:none;
    list-style-type: none;
}

li{
    padding: 0.7rem;
    border-radius: 30px;
    margin: 0 1rem;
}

a{
    text-decoration: none;
    color: inherit;
}

li:hover{
    background-color: white;
    border-left: solid 1px var(--dark-gray);
}